<div class="pb-4" style="border: 1px dotted black">
<div class="row col-md-12 mt-2 variant_info">
    <label for="" class="mt-2 mb-2"><b>Variant #<%= count %></b>
    <% if(typeof count !== 'undefined' && count > 1) { %><a class="btn btn-danger remove_variant" style="margin-left:50px">X</a><% } %></label>    
    <div class="col-md-4">
        <div class="form-floating">
            <input type="text" class="form-control variant-field" data-field="title" placeholder="Title" required>
            <label for="floatingVariantTitle">Title</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating">
            <input type="text" class="form-control variant-field" data-field="sku" placeholder="SKU" required>
            <label for="floatingSKU">SKU</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating">
            <input type="number" class="form-control variant-field" data-field="price" placeholder="Price" required>
            <label for="floatingVariantPrice">Price</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-floating">
            <input type="number" class="form-control variant-field" data-field="compare_at_price" placeholder="Compare At Price" required>
            <label for="floatingCompareAtVariantPrice">Compare At Price</label>
        </div>
    </div>
</div>
<% if(typeof locations !== 'undefined' && locations !== null && locations.length > 0) { %>
    <div class="row col-md-12 mt-2">
        <label for="" class="mt-2 mb-2"><b>Inventory Info</b></label>
        <% locations.forEach(function(location) { %>
        <div class="col-md-3">
            <div class="form-floating">
                <input type="number" class="form-control variant-field inventory-field" 
                       data-location="<%= location.id %>" 
                       data-field="inventory" 
                       placeholder="Inventory" required>
                <label><%= location.name %></label>
            </div>
        </div>
        <% }); %>
    </div>
<% } %>
</div>
